@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<hr />

<p class="text-white">
    DO NOT USE ANY REAL PASSWORDS OR USERNAMES using this website as this website contains no securities or information protections. For the functionality of this website use stand-in/fabricated information.

    <br />
    <br />

    Any information provided to this website/application will be shared with Clover Park Technical College for academic purposes. Clover Park Technical College may provide this website in pursuit of collaborative sharing and information techniques.

    <br />
    <br />

    DataTracker does not intend to collect any personally identifying information that may be provided as this is a college assignment.
</p>
